@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #F1ECE6;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  body {
    font-family: var(--font-josefinsans), Arial, Helvetica, sans-serif;
  }
}
